/**
 * Site header
 */
.site-header {
  margin-top: 40px;
  padding-bottom: 40px;
  padding: 0px $spacing-unit;
  
  min-height: $spacing-unit * 1.865;
  display: flex;
  justify-content: space-between;

  @media (min-width: 1024px) {
    margin-left: calc((100vw - 1024px) * 0.4);
    margin-right: calc((100vw - 1024px) * 0.4);
  }

  #slide-left-transparent {
    height: 100vh;
    background-color: white;
    opacity: 0.8;
    width: 100vw;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    @media screen and (min-width: 700px){
      width: 0px;
    }
  }
  #slide-left-white {
    height: 100vh;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    opacity: 1;
    width: 80vw;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
   
    @media screen and (min-width: 700px){
      width: 0px;
    }
    .mobile-nav-container {
      display: flex;
      flex-direction: column;
      .small-logo {
        width: 141px;
        padding: 43px 0px 20px 20px;
        margin: 10px 0px;
      }
      .mobile-link-container {
        padding-left: 20px;
        .mobile-page-link {
          margin: 10px 0px;
        }
      }
    }
  }
}

.site-title {
  @include relative-font-size(1.2);
  font-weight: 200;
  line-height: $base-line-height * $base-font-size * 1;
  letter-spacing: -1px;
  margin-bottom: 0;
  display: flex;
  
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  &,
  &:visited {
    color: $text-color;
  }
  p {
    margin-bottom: 0px;
    text-decoration: none;
    margin-left: 20px;
  }
  svg {
    @media screen and (max-width: 500px){
      width: 205px;
    }
  }

  @media screen and (max-width: 700px){
    flex-direction: column;
    align-items: flex-start;
    
  }
}

.site-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    right: $spacing-unit / 2;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
        margin-left: 8px;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: none;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
  margin-top: 40px;

  @media (min-device-width: 1024px) {
    margin-left: calc((100vw - 1024px) * 0.4);
    margin-right: calc((100vw - 1024px) * 0.4);
  }

  @media screen and (max-width: 700px){
    justify-content: center;
    align-items: center;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}


