<div class="be-smart-be-safe-container">
    <div class="text-container">
        <h1><span>Be smart.&nbsp;</span><span>Be safe.</span></h1>
        <div class="image-mobile"></div>
        <p class="bm24blue400">Mit dem <b>Airtracker</b> bieten wir eine erweiterbare Komplettlösung an, die es Ihnen ermöglicht, in Räumen den CO<sub>2</sub> Gehalt, Temperatur und Luftfeuchtigkeit zu messen. Kohlendioxid (CO<sub>2</sub>) ist ein ausschlaggebendes Kriterium für <b>gute oder schlechte Luftqualität.</b> Mit der Verknüpfung von Hardware (Sensoren) und Software können Sie einfach über Ihr Smartphone die Luftqualität in Räumen Ihrer Wahl im Auge behalten und <b>gezielt lüften.</b></p>
        {% include spacing.html height="40" %}
        <ul class="facts-container">
            <li>Luftqualität (CO<sub>2</sub> Gehalt) kontrollieren</li>
            <li>Ansteckungsgefahr durch Bakterien oder Viren minimieren</li>
            <li>Sauerstoffgehalt optimieren</li>
            <li>Konzentration und Gesundheit fördern</li>
            <li>Arbeitsatmosphäre verbessern</li>
            <li>Temperatur und Luftfeuchtigkeit messen</li>
        </ul>
        {% include spacing.html height="40" %}
        <button onclick="location.href='/kontakt/'" class="button"><p>Angebot anfordern</p></button>
    </div>
    <div class="image-desktop"></div>
</div>