<div class="beSmartBeSafeContainer">
    <div class="textContainer">
        <h1 class="h1">Be smart. Be safe.</h1>
        <div class="imageMobile"></div>
        <p class="textNormal">Der Airtracker ist […] CO2 Messung […] gute Luft […] die Komplettlösung von Hardware in Verbindung mit Software, sowie die Installation und Einrichtung aller Geräte. So können Sie einfach über ihr Smartphone die Luftqualität aller Räume im Auge behalten und gezielt Lüften.</p>
        <p class="textBold"># Luftqualität kontrollieren </br>
            # Ansteckungsgefahr minimieren </br>
            # Sauerstoffgehalt optimieren </br>
            # Konzentration & Gesundheit fördern </br>
            # Arbeitsatmosphäre verbessern</p>
        </br>
        <Button class="button"><p>Zum Angebot</p></Button>
    </div>
    <div class="imageDesktop"></div>
</div>