<div class="be-smart-be-safe-container">
    <div class="text-container">
        <h1>Be smart. Be safe.</h1>
        <div class="image-mobile"></div>
        <p class="bm24blue400">Mit dem Airtracker bieten wir eine erweiterbare Komplettlösung an, die es Ihnen ermöglicht Räume auf ihren CO2 Gehalt, Temperatur und Luftfeuchtigkeit zu messen. Kohlendioxid (CO2) ist ein ausschlaggebender Bestandteil guter oder schlechter Luft. Mit der Verknüpfung von Hardware (Sensoren) und Software können Sie einfach über Ihr Smartphone die Luftqualität in Räumen Ihrer Wahl im Auge behalten und gezielt Lüften.</p>
        {% include spacing.html height="40" %}
        <p class="facts-container">
            {% include logo-amber-paragraph-fat.html text="Luftqualität kontrollieren" %}
            {% include logo-amber-paragraph-fat.html text="Ansteckungsgefahr durch Bakterien oder Viren minimieren" %}
            {% include logo-amber-paragraph-fat.html text="Sauerstoffgehalt optimieren" %}
            {% include logo-amber-paragraph-fat.html text="Konzentration & Gesundheit fördern" %}
            {% include logo-amber-paragraph-fat.html text="Arbeitsatmosphäre verbessern" %}
            {% include logo-amber-paragraph-fat.html text="Temperatur und Luftfeuchtigkeit messen" %}
        </p>
        {% include spacing.html height="24" %}
        <button onclick="location.href='/kontakt/'" class="button"><p>Angebot anfordern</p></button>
    </div>
    <div class="image-desktop"></div>
</div>