<style type="text/css" media="screen">
.container {
    display: flex;
}
</style>

<div class="container">
  <h2>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="10"
    height="10"
    viewBox="0 0 10 10"
  >
    <g fill="none" fill-rule="evenodd">
      <g fill="#F2AF00">
        <g>
          <path
            d="M155 36L155 46 145 46 145 36z"
            transform="translate(-375 -1282) translate(230 1246)"
          />
        </g>
      </g>
    </g>
  </svg>
  {{ include.title}}</h2>
</div>
