<div class="how-do-i-achieve-better-air-conditions">
    <div class="product-information">
          {% include brickH2.html title="Wie erreiche ich eine bessere Luftqualität?"%}
          <div class="columns-container">
              <div class="text-column">
                  <p class="bm36blue800">Luftqualität. Wichtiger denn je.</p>
                  <p class="bm18blue400">
                    Wir verbringen den größten Teil des Tages in geschlossenen Räumen; sowohl auf der Arbeit als auch zum Feierabend – besonders in Zeiten der Corona-Pandemie. Nur verhältnismäßig wenige Menschen arbeiten regelmäßig an der frischen Luft. Regelmäßiges Lüften ist also notwendig, um ein ausgeglichenes Raumklima zu erhalten, aber auch, um Gesundheit und Konzentration nicht zu beeinträchtigen; besonders dann, wenn sich mehrere Menschen ein Büro teilen. Doch wie oft sollte man am Tag die Fenster öffnen und Räume lüften? Wenn die Luft stickig wird, ist es meistens schon überfällig.</br> </br>
                    Die Airtracker Sensoren helfen, die Luftqualität im Auge zu behalten, um rechtzeitig frische Luft in die Räume zu lassen. 
                  </p>

               <!-- TODO: Add PDF download and link
                 {% include spacing.html height=40 %}
                 <div class="grenzwerte-download">
                    <div class="pdf"></div>
                    <a class="bm18amber700">CO<sub>2</sub> Grenzwerte Download</a>
                  </div>
                  <a class="bm18amber700">Landingpage Luftqualität</a>
                -->
                  {% include spacing.html height=40 %}
                  {% include contact-button.html text="Beratung vereinbaren" %}
                  {% include spacing.html height=40 %}
              </div>
              <div class="image-column">
                  <div class="sneezing-image"></div>
              </div>
          </div>
    </div>
</div>