<div class="light-bulb-container">
  <div class="border"></div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="50"
    height="56"
    viewBox="0 0 50 56"
    class="light-bulb"
  >
    <g fill="none" fill-rule="evenodd">
      <g>
        <g>
          <g>
            <path
              fill="#FFF"
              d="M4.301 16H44.301V56H4.301z"
              transform="translate(-775 -5228) translate(230 5228) translate(545.699)"
            />
            <g fill="#F2AF00">
              <path
                d="M18 35.263V40H0v-4.737h18zm0-7.368v4.737H0v-4.737h18zm0-7.369v4.737H0v-4.737h18zM18 0v17.895H0V0h18z"
                transform="translate(-775 -5228) translate(230 5228) translate(545.699) translate(15.301 16)"
              />
            </g>
            <path
              fill="#F2AF00"
              d="M48.256 19.26l.347 1.97-7.879 1.39-.347-1.97 7.879-1.39zm-47.909 0l7.879 1.39-.348 1.97L0 21.23l.347-1.97zM39.284 5.09l1.532 1.285-5.143 6.128-1.532-1.286 5.143-6.128zm-29.965 0l5.142 6.127-1.532 1.286-5.142-6.128L9.32 5.089zM25.301 0v8h-2V0h2z"
              transform="translate(-775 -5228) translate(230 5228) translate(545.699)"
            />
          </g>
        </g>
      </g>
    </g>
  </svg>
  <div class="border"></div>
</div>

<style>
.light-bulb-container {
    display: flex;
    max-width: 1140px;
    width: 100%;
    align-items: center;

}

.border {
 border: solid 1px #f2af00;
 flex-grow: 2;
 height: 0px;
}

.light-bulb {
    flex-grow: 0;
    margin: 5px 5px;
}

</style>