<div class="container">
    <svg class="logo" xmlns="http://www.w3.org/2000/svg" width="9" height="10" viewBox="0 0 9 10">
        <g fill="none" fill-rule="evenodd">
            <g fill="#F2AF00" fill-rule="nonzero">
                <g>
                    <g>
                        <g>
                            <path d="M9 3.673L9 6.327 2.571 6.327 2.571 3.673zM6.429 7.347L6.429 10 0 10 0 7.347zM6.429 0L6.429 2.653 0 2.653 0 0z" transform="translate(-80 -560) translate(79.5 228) translate(.5 320) translate(0 12)"/>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>
    <p class="bm24blue600">{{include.text}}</p>
</div>

<style> 
.logo {
    margin-right: 10px;
    flex-shrink: 0;
}
.container {
    display: flex;
    align-items: center;
}
p {
    margin-bottom: 0px;
}
</style>