<div class="questions-container">
    {% include question.html file="./assets/icons/technology-cloud.svg" text="Was ist der Airtracker?"%}
    {% include question.html file="./assets/icons/klimaneutralitaet.svg" text="Wie erreiche ich eine bessere Luftqualität?"%}
    {% include question.html file="./assets/icons/other-eye-vision.svg" text="Wo kann ich das System anwenden?"%}
    {% include question.html file="./assets/icons/euro.svg" text="Was kostet das Lösungskonzept für gute Luftqualität?"%}
</div>