<div class="wasIstDerAirtrackerContainer">
  <div class="productInformation">
        {% include brickH2.html title="Was ist der Airtracker?"%}
        <div>
            <div class="imageTextContainer">
                <p class="bm18blue400">
                Der Airtracker dient zur Messung des CO2 Gehaltes innerhalb eines Raumes.
                Verschiedene Sensoren sammeln in Echtzeit Informationen über den CO2
                Anteil und senden diese per WiFi zu einem Gateway, der die Daten
                verarbeitet und visualisiert. Diese Daten können Sie mit Ihrem von überall
                abrufen. </br></br>Das Systen setzt sich aus folgenden Komponenten zusammen: </br> • CO2
                Sensoren, pro 10 m2 wird 1 Sensor empfohlen </br> • Gateway </br> 
                • Ihr Smartphone
                </p>
                <a class="bm18amber600">Landingpage detaillierte Funktionsweise</a>
                {% include spacing.html height=40%}
            </div>
            <div class="iPhoneImageDesktop">
            </div>
        </div>
  </div>
  
  <div class="imageContainerDesktop">
    <div class="officeImageDesktop"></div>
    <div class="sensorLocationImageDesktop"></div>
  </div>
  <div class="imageContainerMobile">
        <div class="iPhoneOfficeContainer">
            <div class="officeImageMobile"></div>
            <div class="iPhoneImageMobile"></div>
        </div>
    <div class="sensorLocationImageMobile"></div>
  </div>
  {% include spacing.html height=20 %}
  <p class="bm13blue400">Beschreibungstext… Das Systen setzt sich aus folgenden Komponenten zusammen: CO2 Sensoren, pro 10 m2 wird 1 Sensor empfohlen; Gateway zum sammeln der Daten; ein Smartphone</p>
</div>
