<div class="what-is-the-airtracker-container">

  <div class="product-information">
        {% include brickH2.html title="Was ist der Airtracker?"%}
        <div>
            <div class="image-text-container">
                <p class="bm18blue400">
                  Der Airtracker ist ein Sensor zur Messung des CO2 Gehaltes (aber auch Temperatur, Luftfeuchtigkeit und Bewegung) innerhalb eines Raumes. Mehrere Sensoren sammeln in Echtzeit Informationen über den CO2 Anteil der Luft und senden diese per LoraWan zu einem Gateway der die Daten weiterverarbeitet. Wie viele Sensoren Sie benötigen, ist abhängig von der Raumgröße – gerne beraten wir Sie dazu. Über eine App können Sie und Ihre Kollegen/Mitarbeiter dann alle Daten abrufen und raumspezifisch anzeigen lassen. Alternativ können wir Ihnen auch QR-Codes zur Verfügung stellen, um den Zugriff noch einfacherer zu machen. 
                </br></br>
                  So können Sie mit guter Luftqualität als Qualitätsmerkmal überzeugen. Bieten Sie Ihren Mitarbeitern und Kunden eine gesunde Raumluft als Benefit, in Ihrem betrieblichen Gesundheitsmanagement Konzept. 
                </br></br>
                  Das System setzt sich aus folgenden Komponenten zusammen:</br>
                  • Luftsensoren, pro 10 m2 wird 1 Sensor empfohlen</br>
                  • 1 Gateway als Empfangsstation</br>
                  • Ihr Smartphone, Tablet oder PC mit Internetzugang</br>
                </p>
                {% include spacing.html height=40 %}
                <a class="bm18amber600">Landingpage detaillierte Funktionsweise</a>
                {% include spacing.html height=40 %}
            </div>
        </div>
  </div>
  
  <div class="image-container-desktop">
    <div class="office-image-desktop"></div>
    <div class="sensor-location-image-desktop"></div>
  </div>
  <div class="image-container-mobile">
    <div class="office-image-mobile"></div>
    <div class="sensor-location-image-mobile"></div>
  </div>
  {% include spacing.html height=20 %}
  <p class="bm13blue400">Beschreibungstext… Das System setzt sich aus folgenden Komponenten zusammen: CO2 Sensoren, pro 10 m2 wird 1 Sensor empfohlen; Gateway zum sammeln der Daten; ein Smartphone</p>
</div>
