<div class="what-does-the-airtracker-cost-container">
  <div class="body">
    {% include brickH2.html title="Was kostet das Lösungskonzept für gute Luftqualität?"%} {% include spacing.html height=40 %}
    <div class="column-container">
      <div class="column-first">
        <p class="bm18blue400">
          Eine genaue Kostenaufstellung ist abhängig von verschiedenen Faktoren, wie zum Beispiel der Raumgröße und der damit verbundenen Anzahl an eingesetzten Sensoren sowie der Vertragslaufzeit. In einem persönlichen Gespräch können wir alle Notwendigkeiten ermitteln und Ihnen ein individuelles Angebot erstellen.
        </p>
        {% include spacing.html height=60 %}
        {% include contact-button.html text="Angebot anfordern"%}
        {% include spacing.html height=60 %}
      </div>
      <div class="column-second">
        <div class="column-second-container">
          {% include spacing.html height="20" %}
          <p class="from">ab</p>
          <div class="price">
            <p class="numb">19,90</p>
            <p class="sign">€</p>
          </div>
          <p class="month">pro Monat & Sensor</p>
          {% include spacing.html height="20" %}
          <p class="recommendation">
            Pro Raum wird ein Sensor empfohlen. Mindestlaufzeit 6 Monate. Danach monatlich kündbar. 100€ pro nicht zurückgegebenem Sensor.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
