<div class="what-does-the-airtracker-cost-container">
  <div class="body">
    {% include brickH2.html title="Was kostet das Lösungskonzept guter
    Luftqualität?"%} {% include spacing.html height=40 %}
    <div class="column-container">
      <div class="column-first">
        <p class="bm18blue400">
          Eine genaue Kostenaufstellung ist abhängig von verschiedenen Faktoren,
          wie zum Beispiel die Raumgröße und damit verbunden die Anzahl der
          eingesetzten Sensoren sowie die Vertragslaufzeit. In einem
          persönlichen Gespräch können wir alle Notwendigkeiten ermitteln und
          Ihnen ein individuelles Angebot erstellen. {% include spacing.html
          height=60 %} {% include contact-button.html text="Angebot anfordern"
          %} {% include spacing.html height=60 %}
        </p>
      </div>
      <div class="column-second">
        <div class="column-second-container">
          {% include spacing.html height="20" %}
          <p class="from">ab</p>
          <div class="price">
            <p class="numb">19,90</p>
            <p class="sign">€</p>
          </div>
          <p class="month">pro Monat & Sensor</p>
          {% include spacing.html height="20" %}
          <p class="recommendation">
            Pro Raum wird ein Sensor empfohlen. Mindestlaufzeit 6 Monate. Danach
            monatlich kündbar. 100€ pro nicht zurückgegeben Sensor.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
