<div class="whatDoesTheAirtrackerCostContainer">
  
  <div class="body">
    {% include brickH2.html title="Was kostet der Airtracker?"%}
    <p class="bm18blue400 first">
      Eine genaue Kostenaufstellung ist von verschiedenen Faktoren, wie zum
      Beispiel Raumgröße und damit verbunden die Anzahl der eingesetzten
      Sensoren sowie Laufzeit Anwendung abhängig. In einem persönlichen Gespräch
      können wir alle Notwendigkeiten genau ermitteln und ein Angebot erstellen.
      Anbei ein Rechenexempel anhand einer durchschnittlichen Bürofläche. {%
      include spacing.html height=40 %}
    </p>
    <p class="bm36blue600">
      Rechenbeispiel Bürofläche 500qm, 3 Räume, Laufzeit 5 Jahre
    </p>
    <div class="columnContainer">
      <div class="columnFirst">
        <p class="bm18blue600">Einrichtung & Installation vor Ort</p>
        <p class="bm18blue400">
          Unser Service Team wird die Installation in Ihren Räumen vornehmen und
          anwendungsfertig verlassen. Sie bekommen eine Einführung sodass Sie
          alles direkt nutzen können. In dem Vertrag sind 5 Tage Support (pro
          Jahr) enthalten, falls Probleme auftauchen.
        </p>
        {% include spacing.html height=60 %}
        <a class="bm18amber600">Angebot anfordern</a>
        {% include spacing.html height=60 %}
      </div>
      <div class="columnSecond">
        <div class="secondContainer">
          <div class="costContainer">
            <p class="bm18blue600">Einmalige Kosten</p> 
              {% include hardware-cost.html text="Installation vor Ort" price="250 €" text-class="bm18blue400" color="#f3f5f8" %}
          </div>
          <div class="costContainer">
            <p class="bm18blue600">Monatliche Kosten</p>
            {% include hardware-cost.html text="pro Sensor" price="25,90 €"
            text-class="bm18blue400" color="#f3f5f8" %} {% include
            hardware-cost.html text="10 Sensoren benötigt*" price="259,00 €"
            text-class="bm18amber400" color="#ffffff" %}
          </div>
          <p class="bm13blue400">
            * Bei der beispielhaften Fläche von 500qm und 3 Räumen.
            Mindestlaufzeit 6 Monate. Danach monatlich kündbar. 100€ pro nicht
            zurückgegeben Sensor.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
