<div class="where-can-the-system-be-used-container">
  <div class="center-container">
    <div class="product-information">
      {% include brickH2.html title="Wo kann ich das System anwenden?"%}
      <div class="text-column">
          <p class="bm18blue400">
            Luftqualität spielt in nahezu allen Bereichen des privaten, aber auch beruflichen Lebens eine wichtige Rolle. Eingesetzt werden kann der Airtracker in allen geschlossenen Räumen und es ist nicht zwingend eine Internetverbindung nötig. Sprechen Sie uns für eine Beratung gerne an.
            </br></br>
            Es sind vielfältige Einsatzbereiche für die Sensoren denkbar; ob in Schulen, Sportstätten und Fitnessstudios, Fabriken, Büros oder Dienstleistungs- und Handwerksbetrieben alles ist möglich. Besonders interessant ist der Airtracker primär für Bereiche, in denen sich mehrere Menschen für über 15 Minuten zeitgleich aufhalten, da dann das Risiko einer Infektion über Aerosole steigt.
            </br></br>      
            Der Airtracker kann auch in Verbindung mit Luftreinigungs- bzw. Klimaanlagen genutzt werden, um dadurch die Funktionalität sowie die Effektivität einer Anlage zu überprüfen.
            </br>                  
          </p>
          {% include spacing.html height=40 %}
          
          <!-- TODO: ADD link
          <a class="bm18amber600">Landingpage Anwendungsgebiete</a>
          {% include spacing.html height=40 %}
          -->
         
          {% include contact-button.html text="Beratung vereinbaren" %}
          {% include spacing.html height=60 %}
      </div>
    </div>
    <div class="field-of-use-examples">
        {% include field-of-use.html file="./assets/images/school@3x.jpg" text="Schulen" %}
        {% include field-of-use.html file="./assets/images/xbox@3x.jpg" text="Büros" %}
        {% include field-of-use.html file="./assets/images/restaurant@3x.jpg" text="Gastronomie" %}
        {% include field-of-use.html file="./assets/images/public-places@3x.jpg" text="Öffentliche Räume" %}
       </div>
      </div>
</div>
