<div class="where-can-the-system-be-used-container">
  <div class="center-container">
    <div class="product-information">
      {% include brickH2.html title="Wo kann ich das System anwenden?"%}
      <div class="text-column">
          <p class="bm18blue400">
            Luftqualität spielt in nahezu allen Bereichen des privaten, aber auch beruflichen Lebens eine wichtige Rolle. Eingesetzt werden kann der Airtracker in allen geschlossenen Räumen, es ist nicht zwingend eine Internetverbindung nötig. Sprechen Sie uns für eine Beratung an.
          </br></br>
          Vielfältige Einsatzbereiche für die Sensoren sind denkbar; ob in Schulen, Sportstätten und Fitnessstudios, Fabriken, Büros oder Dienstleistungs- und Handwerksbetrieben alles ist möglich. Besonders interessant ist der Airtracker primär für Bereiche, in denen sich mehrere Menschen für über 15 Minuten zeitgleich aufhalten, da dann das Risiko einer Aerosolinfektion steigt.
          </br></br>      
          Der Airtracker kann auch in Verbindung mit Luftreinigungs- bzw. Klimaanlagen genutzt werden,um dadurch die Funktionalität sowie die Effektivität einer Anlage zu überprüfen.
          </br>                  
          </p>
            {% include spacing.html height=40 %}
          
          <a class="bm18amber600">Landingpage Anwendungsgebiete</a>
          {% include spacing.html height=40 %}
          {% include contact-button.html text="Termin vereinbaren" %}
          {% include spacing.html height=40 %}
      </div>
    </div>
    <div class="field-of-use-examples">
        {% include field-of-use.html file="./assets/images/school@3x.jpg" text="Schulen" %}
        {% include field-of-use.html file="./assets/images/xbox@3x.jpg" text="Büros" %}
        {% include field-of-use.html file="./assets/images/waitingRoom@3x.jpg" text="Wartezimmer" %}
        {% include field-of-use.html file="./assets/images/office@3x.jpg" text="..." %}
       </div>
      </div>
</div>
