<div class="whereCanIUseTheAirtrackerContainer">
  <div class="centerContainer">
    <div class="productInformation">
          {% include brickH2.html title="Wo kann ich den Airtracker anwenden?"%}
              <div class="textColumn">
                  <p class="bm18blue400">
                    Luftqualität spielt in nahezu allen Bereichen des privaten aber auch des Beruf Lebens eine wichtige Rolle. Eingesetzt werden kann der Airtracker in allen geschlossenen Räumen. Eine Voraussetzung ist allerdings, dass eine Verbindung über WiFi zum Gateway möglich ist. Hier könnten dicke Wände oder Decken die Verbindung stören. Interessant ist der Airtracker primär für Bereiche in denen sich mehrere Menschen zeitgleich aufhalten, also zum Beispiel in Schulen und Kindergärten, Büros, Wartezimmern oder Fitness-Studios.
                  </br> </br>
                    Der Airtracker kann auch in Verbindung mit Luftreinigungs- bzw. Klimaanlagen genutzt werden um so die Einstellung oder Effektivität einer Anlage zu überprüfen.                  </p>
                  {% include spacing.html height=40 %}
                  
                  <a class="bm18amber600">Landingpage Anwendungsgebiete</a>
                  {% include spacing.html height=40 %}
              </div>
    </div>
    <div class="fieldOfUseExamples">
        {% include field-of-use.html file="./assets/images/school@3x.jpg" text="Schulen" %}
        {% include field-of-use.html file="./assets/images/xbox@3x.jpg" text="Büros" %}
        {% include field-of-use.html file="./assets/images/waitingRoom@3x.jpg" text="Wartezimmer" %}
        {% include field-of-use.html file="./assets/images/office@3x.jpg" text="..." %}
       </div>
      </div>
</div>
