.be-smart-be-safe-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  height: 100%;
  align-items: center;
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 800px;
    flex-shrink: 2;
    .facts-container{
      display: flex;
      flex-direction: column;
    }
    .image-mobile {
      background-image: url("../../assets/images/airtracker-iphone@3x.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      min-height: 300px;
      display: inline;
      justify-self: center;

      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
    
  }
  .image-desktop {
    background-image: url("../../assets/images/airtracker-iphone@3x.png");
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 670px;
    width: 100%;
    height: 670px;
    @media screen and (max-width: 1023px) {
      display: none;
    }
  }
}
