.how-do-i-achieve-better-air-conditions {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  .product-information {
    max-width: 1100px;
    .columns-container {
      display: flex;
      margin-bottom: 40px;
      @media screen and (max-width: 700px) {
        flex-direction: column;
      }
      
      .text-column{
        flex: 1 1;
        .grenzwerte-download {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          .pdf {
            background-image: url("../../assets/images/icon-pdf@3x.png");
            background-size: contain;
            background-repeat: no-repeat;
            height: 56px;
            width: 42px;
            margin-right: 10px;
          }
        }
      }
      .image-column {
        flex: 2 1;
        .sneezing-image {
          background-image: url("../../assets/images/sneezing@3x.jpg");
          background-size: contain;
          background-repeat: no-repeat;
          height: 600px;
          margin-left: 40px;
          @media screen and (max-width: 700px) {
              margin-left: 0px;
              height: 300px;
          }
        }
      }
    }
  }
}
