.what-is-the-airtracker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .product-information {
    div {
      display: flex;
      .image-text-container {
        flex-direction: column;
        @media screen and (min-width: 500px){
          margin-bottom: 60px
        }
        p {
          max-width: 1000px;
        }
      }
    }
  }

  .image-container-desktop {
    position: relative;
    min-height: 626px;
    width: 100%;
    max-width: 1300px;
    @media screen and (max-width: 1024px) {
      zoom: 55%;
    }
    @media screen and (max-width: 500px) {
      display: none;
    }
    .office-image-desktop {
      background-image: url("../../assets/images/image-office-mac@3x.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 850px;
      height: 566px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .sensor-location-image-desktop {
      background-image: url("../../assets/images/sensorLocationMap.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 560px;
      height: 373px;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .image-container-mobile {
    @media screen and (min-width: 501px) {
        display: none;
      }
    
      .office-image-mobile {
        background-image: url("../../assets/images/office@3x.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        width: calc(100vw - 40px);
        height: 233px;
      }
   

    .sensor-location-image-mobile {
      background-image: url("../../assets/images/sensorLocationMap.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: calc(100vw - 40px);
      height: 233px;
    }
  }
  .bm13blue400 {
    width: 100%;
    max-width: 1300px;
    text-align: start;
  }
}
